.row {
  max-width: 100%;
}

.content{
  background-color: $white;
  box-shadow: 3px 3px 9px -7px black, -3px 3px 9px -7px black;

  .content-area{
    @media #{$medium-up} {
      padding: 0em 1em 1em 1em;
    }
  }
}

// Sidebars
  .termine{
    .termin-item{
      .date{
        font-weight: bold;
      }
    }
  }
  .termine, .partner{
    margin-bottom: 3*$padding;
  }
  .partner{
    .tile{
      margin-bottom: $padding;
      img{
        width: 70%;
      }
      a{
        color: $black;
      }
    }
  }

#logo{
  span {
    position: absolute;
    bottom: 12%;
    left: 15%;
    color: black;
    width: 47.5%
  }
  a{
    img{ max-width: 470px; }
  }
}

  @media #{$medium-up} {
    .expanded-item {
      border-right: thin solid $fuckupred;
    }
  }

  img[src*=svg] { width/*\**/: 100%;}

  .failure-big {
    color: white;
    width: 85%;
    background: $fuckupred;
    border: $fuckupred 5px solid;
    margin-top: 2em;
    margin-right: -2em;
    float: right;
  }

  .failure-small {
    right: 0;
    color: white;
    //width: 100% + 2em;
    position: absolute;
    background: $fuckupred;
    border: $fuckupred 5px solid;
    margin-top: 1em;
    margin-left: -1em;
  }

  h6{
    font-weight: bold;
    margin-bottom: $padding;
  }

  span.copy{
    display: inline-block;
    font-size: 0.8em;
  }

  // Footer
#footer{
  margin-top: $padding/2;
  ul{
    float: right;
  }
}

a.next, a.prev, a.fullscreen {
  color: white;
}
a.next {
  right: 1em !important;
}
a.prev {
  left: 1em !important;
}
a.fullscreen {
  right: 1em !important;
}
.slides-navigation-top {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 5%;
  width: 100%;
}

.slides-pagination a {
  border: 2px solid white !important;
}
.slides-pagination a.current {
  background: white !important;
}
